body{
    background-image: url('../assets/wallpaper.jpg');
}

nav.menu {
    padding: 0;
    background: #0e1435d9;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
}

.menu ul li {
    margin: 10px 0;
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding: 10px;
}

.menu ul li a:hover {
    background: #ffffff3d;
    color: #fff;
    transition-duration: 0.3s;
}

.menu ul li a p {
    margin: 0;
}

#navtitle {
    margin: auto 0;
}
.izqnav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin: auto;
    color: #fff;
}

.izqnav ul {
    align-items: center;
}

.izqnav > ul li a {
    text-decoration: none;
    color: #fff;
    align-items: center;
}

.izqnav > ul li a:hover {
    background: #ffffff3d;
    color: #fff;
    transition-duration: 0.3s;
}

/* Dropdown */
.drop-down {
    position: relative;
}

.mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 650px;
    padding: 20px;
    background-color: rgba(9, 9, 49, 0.952);
    z-index: 1000;
    flex-wrap: wrap;
    align-content: center;
}

.mega-menu.display-on {
    display: flex;
}

.left-images, .categories-list {
    flex: 1;
    margin-right: 20px;
    min-width: 250px;
}

.left-images img {
    max-height: 250px;
    width: auto;
    display: block;
    padding-left: 20px;
}

/* Categorías */
.mega-menu .categories-list ul {
    list-style-type: none;
    padding: 0;
}

.mega-menu .categories-list ul li {
    margin-bottom: 5px;
}

.categories-list ul span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    line-height: 0.5rem;
}

#menutoggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    padding: 10px;
}

#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #menutoggle {
        display: block;
    }

    .menu ul {
        display: none;
    }

    .menu.active ul {
        display: block;
    }
}

/* Otros Estilos */
#navtitle {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#navtitle a:hover {
    background: none;
}
main{
    height: 88.5vh;
    margin: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}
.main-text h1{
    font-size: 50px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
    font-weight: 800;
}
.main-text p{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-size: 30px;
}
.main-text a button{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.main-text a button p{
    margin: auto;
    font-size: 1.3rem;
}